<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    
    {% for order in orders %}
    <p>
    {{ order.customer_name }} bought {{ order.quantity }} of {{ order.game_name }}
    on {{ order.order_date }}
    <a href="/orders/{{ order.order_number }}">see order here</a>
    </p>
    {% endfor %}
    
</body>
</html>