#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.image {
  width: 250px;
  height: 250px;
  background-color: lightblue;
  border: 1px solid white;
}

.large {
  flex: 40%
}

.first {
  order: -1
}

.last {
  order: 2
}
