{% extends "template.html" %}


{% block content %}
<header>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/play">Play</a></li>
    </ul> 
</header>


  <div class="row">
    <div class="col-1">
  <h1>Rock Paper Scissors</h1>
  <h3>How to play:</h3>

  <p>Rock Paper Scissor is a terribly easy game used to resolve some of
    the worlds most serious problems. There isn't anything in the world
    that can't be solved by whipping this out. If you are reading this
    though, you just want to find out how to play the game and must be
    so far frustrated. I do not blame you, for I haven't given any indication
    of rules or how to play. That is going to change. Very soon.
  </p>
  <p>turn the page >></p>
</div>
<div class="col-2">
  <h1>Part 2:</h1>
  <h3>How to play - really:</h3>
  <p>For the basic part of this website, player 1 puts their choice of rock, paper or scissors after the first
    / in the address bar and the second player after that. For example
  </p>
  <p>/rock/paper</p>
  <p>if you type that above after the address, it should tell you player 2 has won!</p>
</div>
</div>

<header>
  <ul>
    <li>
    <a>Onto the next bit!</a>
  </li>
  </ul>
</header>

<div class="row">
  <div class="col-1">
    <p>Try clicking the Play button up top</p>
    <p>Something might happen</p>
  </div>
  <div class="col-2">
    <p>You can play against the computer by making a selection and see if you win</p>
    <p> Results may vary</p>
  </div>
</div>

{% endblock %}